body {
	color: dark blue;
	background-color: gray;
	font-family: helvetica;
	font-size: 100%;
}
h1 {
	color: black;
	background-color: white;
	font-family: calibri;
	font-size: 125%;
}
p {
	color: green;
	background-color: yellow;
	font-family: verdana;
	font-size:80%;
}
img {
	float: right;
}
#rcorners {
    border-radius: 50px 50px 50px 50px;
    background: red;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}